data/raw/Wednesday-workingHours.pcap_ISCX.csv
data/raw/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv
data/raw/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv
data/raw/Tuesday-WorkingHours.pcap_ISCX.csv
